{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}

    <div class="row" id="row-1">
        <div class="col-md-6 mb-3">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Books</h4>
                    <p class="card-text paragraph-custom">
                        Simple query to database to show all books, or enter a new book into the database
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/books">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.1</h4>
                    <p class="card-text">
                        List with the total number of loans per school (Search criteria: year, calendar month, e.g. 
                        January).
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_1?start_date=__start_date__&end_date=__end_date__">Show</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" id="row-2">
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.2a</h4>
                    <p class="card-text paragraph-custom">
                        For a given book category (user-selected),  which teachers have borrowed books from that category in the last year
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_2a?Category=__category__">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.2b</h4>
                    <p class="card-text">
                        For a given book category (user-selected),  which teachers have borrowed books from that category in the last year
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_2b?Category=__category__">Show</a>
                </div>
            </div>
        </div>
    </div>
      
    <div class="row" id="row-3">
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.3</h4>
                    <p class="card-text paragraph-custom">
                        Find teachers who have borrowed the most books and the number of books    
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_3">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.4</h4>
                    <p class="card-text">
                        Find authors whose books have not been borrowed    
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_4">Show</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-4">
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.5</h4>
                    <p class="card-text paragraph-custom">
                        Which operators have loaned the same number of books in a year with more than 20 loans?  
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_5">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.6</h4>
                    <p class="card-text">
                        Many books cover more than one category. Among field pairs (e.g., history and poetry) that 
                        are common in books, find the top-3 pairs that appeared in borrowings    
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_6">Show</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-5">
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.1.7</h4>
                    <p class="card-text paragraph-custom">
                        Find all authors who have written at least 5 books less than the author with the most books.
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_1_7">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4_2_1</h4>
                    <p class="card-text">
                        All books by Title, Author (Search criteria: title/ category/ author/ copies).                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_2_1?OperatorSchoolID=__OperatorSchoolID__&Title=__Title__&Author=__Author__&Category=__Category__&BookCount=__BookCount__">Show</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" id="row-6">
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.2.2</h4>
                    <p class="card-text paragraph-custom">
                        Find all borrowers who own at least one book and have delayed its return. (Search criteria: 
                        First Name, Last Name, Delay Days).                     </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_2_2?OperatorSchoolID=__OperatorSchoolID__&FirstName=__FirstName__&LastName=__LastName__&DelayedDays=__DelayedDays__">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4_2_3</h4>
                    <p class="card-text">
                        Average Ratings per borrower and category (Search criteria: user/category)  
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_2_3?OperatorSchoolID=__OperatorSchoolID__&UserID=__UserID__&Category=__Category__">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-6">
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4.3.1</h4>
                    <p class="card-text paragraph-custom">
                        List with all books (Search criteria: title/category/author), ability to select a book and create 
                        a reservation request.                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_3_1?UserSchoolID=__UserSchoolID__&Title=__Title__&Author=__Author__&Category=__Category__">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">4_3_2</h4>
                    <p class="card-text">
                        List of all books borrowed by this user                    
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/4_3_2?UserID=__UserID__">Show</a>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}
